@model MovRec.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/homepage.css">
    <link rel="stylesheet" href="~/css/sliderscss.css">
</head>

<body>
    <div class="container">

        <!-- Hero Section To Do-->
        <section class="hero-newsletter">
            <div class="text-content-title">
                <span class="text-wrapper-2">Search</span>
            </div>
            <div class="form-newsletter">
                <input type="text" class="input-field" id="search-input" placeholder="Search...">
                <div id="autocomplete-results" class="autocomplete-results"></div>
                <button class="button-3" onclick="performSearch()">Search</button>
            </div>
        </section>

        <!-- Movie Container -->
        <section class="movies-section">
            <!-- New html -->
            <div class="main-carousels" id="recommended-movies">
                <div class="carousel-title">
                    <span class="text">Top Movies</span>
                </div>
                <div class="container-slider ">
                    <div class="btn-container">
                        <span class="btn" onclick="prevSlide(0)">❮</span>
                    </div>
                    <div class="carousel-container">
                        <div class="carousel">
                            @foreach (var movie in Model.Movies)
                            {
                                <div class="poster-container">
                                    <div class="poster">
                                        <a href="@Url.Action("Details", "Movies", new { id = movie.movie_id })"
                                            class="debug"><img src="~/images/posters/@(movie.movie_id)_poster.jpg"
                                                alt="@movie.title" class="poster"></a>
                                        <div class="title">@movie.title</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="btn-container">
                        <span class="btn" onclick="nextSlide(0)">❯</span>
                    </div>
                </div>
            </div>
            <div class="main-carousels" id="recommended-movies">
                <div class="carousel-title">
                    <span class="text">Top Movies</span>
                </div>
                <div class="container-slider">
                    <div class="btn-container">
                        <span class="btn" onclick="prevSlide(1)">❮</span>
                    </div>
                    <div class="carousel-container">
                        <div class="carousel">
                            @foreach (var movie in Model.RecoMovies)
                            {
                                <div class="poster-container">
                                    <div class="poster">
                                        <a href="@Url.Action("Details", "Movies", new { id = movie.movie_id })"
                                            class="debug"><img src="~/images/posters/@(movie.movie_id)_poster.jpg"
                                                alt="@movie.title" class="poster"></a>
                                        <div class="title">@movie.title</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="btn-container">
                        <span class="btn" onclick="nextSlide(1)">❯</span>
                    </div>
                </div>
            </div>
            <div class="main-carousels" id="recommended-movies">
                <div class="carousel-title">
                    <span class="text">Top Movies</span>
                </div>
                <div class="container-slider">
                    <div class="btn-container">
                        <span class="btn" onclick="prevSlide(2)">❮</span>
                    </div>
                    <div class="carousel-container">
                        <div class="carousel">
                            @foreach (var movie in Model.RecoMovies)
                            {
                                <div class="poster-container">
                                    <div class="poster">
                                        <a href="@Url.Action("Details", "Movies", new { id = movie.movie_id })" class="
                                                debug"><img src="~/images/posters/@(movie.movie_id)_poster.jpg"
                                                alt="@movie.title" class="poster"></a>
                                        <div class="title">@movie.title</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="btn-container">
                        <span class="btn" onclick="nextSlide(2)">❯</span>
                    </div>
                </div>
            </div>
            <div class="main-carousels" id="recommended-movies">
                <div class="carousel-title">
                    <span class="text">Top Movies</span>
                </div>
                <div class="container-slider">
                    <div class="btn-container">
                        <span class="btn" onclick="prevSlide()">❮</span>
                    </div>
                    <div class="carousel-container">
                        <div class="carousel">
                            @foreach (var movie in Model.RecoMovies)
                            {
                                <div class="poster-container">
                                    <div class="poster">
                                        <a href="@Url.Action("Details", "Movies", new { id = movie.movie_id })"
                                            class="debug"><img src="~/images/posters/@(movie.movie_id)_poster.jpg"
                                                alt="@movie.title" class="poster"></a>
                                        <div class="title">@(movie.title)</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="btn-container">
                        <span class="btn" onclick="nextSlide(3)">❯</span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="~/js/slidersjs.js"></script>
</body>


</html>