<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovRec</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/header.css" /> <!-- New header-specific CSS -->
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img id="logo" class="figma" src="~/images/logo.JPEG" alt="Logo">
            </a>
        </div>
        <nav class="navigation-pill-list">
            <a href="@Url.Action("Index", "Home")" class="nav-link">Recommended Movies</a>
            <div class="nav-link">Watch list</div>
            <div class="nav-link">Your Ratings</div>
        </nav>
        <div class="header-auth">
            <a style="text-decoration: none;" href="@Url.Action("Login", "Account")" class="button-2">Log in</a>
            <a style="text-decoration: none;" href="@Url.Action("SignUp", "Account")" class="button-2">Sign Up</a>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>